@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "colors";
@import "layout";

body{
    background-image: url('images/mainbackground.png');
    background-color: $legoyellow;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-top: $zero;
    padding-top: $zero;
    margin-bottom: $zero;
    padding-bottom: $zero;
}

div.container{
    width: $fullwidth;
    max-width: 1200px;
    margin: $zero auto;
    background-color: $white;
    overflow: hidden;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    padding: $onerem;
    a{
        img{
            width: $fullwidth;
            max-width: 250px;
            height: auto;
        }
    }
}

#cart{
    position: relative;
    width: $fullwidth;
    max-width: 50px;
    .label{
        width: $tworem;
        height: $tworem;
        border-radius: 50%;
        text-align: center;
        color: $white;
        background-color: $red;
        position: absolute;
        top: -1.3rem;
        left: -1.3rem;
        box-sizing: border-box;
        padding-top: 5px;
    }
}

nav{
    width: $fullwidth;
    background-color: $red;
    display: flex;
    a{
         color: $white;
        text-decoration: none;
        padding: $pointrem $onerem;
        border-bottom: 5px solid $red;
        display: inline-block;
        text-transform: uppercase;
        :hover{
            color: $legoyellow;
            border-color: $legoyellow;
            transition: ease-in-out 0.2s;
        }
        .active{
            background-color: $legoyellow;
            border-color: $black;
            color: $black;
            :hover{
                color: $red;
            }
        }
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    padding: $zero $onerem;
    justify-content: space-between;
    h2{
        width: $fullwidth;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }
}

article.product-card{
    background-color: $black;
    border-bottom: $onerem solid $green;
    width: 31%;
    overflow: hidden;
    padding: $onerem;
    box-sizing: border-box;
    color: $white;
    margin-bottom: $tworem;
    > *{
        display: block;
        clear: both;
    }
    img{
        width: $fullwidth;
    }
    a{
        color: $legoyellow;
        padding: $pointrem $zero;
        text-decoration: none;
    }
    h3{
         margin: .2rem $zero $pointrem $zero;
        text-transform: uppercase;
    }
    button{
        background: $green;
        color: $white;
        font-family: 'Rubik', sans-serif;
        border: none;
        padding: $pointrem $onerem;
        font-size: $onerem;
    }
}

#cartview{
    width: $fullwidth;
    max-width: 500px;
    background-color: $black;
    color: $white;
    position: absolute;
    right: $zero;
    top: 70px;
    border-left: $pointrem $green;
    border-bottom: $pointrem solid $green;
    padding: $onerem;
    ul{
         list-style-type: none;
        padding: $zero;
        li{
            border-bottom: 1px solid $green;
            padding-bottom: $pointrem;
            margin-bottom: $pointrem;
            display: block;
            clear: both;
            > *{
                box-sizing: border-box;
                display: inline-block;
            }
        }
    }
}

span.title{
    width: calc($fullwidth - 9rem);
}

span.price, span.quantity{
    width: 3rem;
}

button.delete{
    width: $tworem;
    height: $tworem;
    border-radius: 50%;
    background-color: $red;
    border: none;
    color: $white;
}

.hidden{
    visibility: hidden;
    opacity: $zero;
}